<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>メイン画面</title>
<link th:href="@{css/main.css}" rel="stylesheet" />
<link th:href="@{css/burger.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
	<header th:replace="parts/parts::hamburger"></header>
	<form th:action="@{/login}" th:object="${loginForm}" method="post">
		<div class="main" style="text-align: right">
			<span th:text="${session.name}"></span>がログインしました。
		</div>
	</form>
	<script type="text/javascript" th:src="@{/js/jquery-3.7.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/burger.js}"></script>
</body>
</html>